<?xml version="1.0"?>
<launch>
	
	<!--Camera 1-->
	<node ns="camera_1" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node_1">
		<param name="width" type="int" value="640" />
		<param name="height" type="int" value="480" />
		<param name="fps" type="int" value="30" />
		<param name="frame" type="string" value="webcam" />
		<param name="device" type="string" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_CFC178EF-video-index0" />
		<param name="auto_focus" type="bool" value="0" />
	</node>
	
	<!--Camera 2-->
	<node ns="camera_2" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node_2">
		<param name="width" type="int" value="640" />
		<param name="height" type="int" value="480" />
		<param name="fps" type="int" value="30" />
		<param name="frame" type="string" value="webcam" />
		<param name="device" type="string" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_AF5BF43F-video-index0" />
		<param name="auto_focus" type="bool" value="0" />
	</node>
	
	<!--Camera 3-->
	<node ns="camera_3" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node_3">
		<param name="width" type="int" value="640" />
		<param name="height" type="int" value="480" />
		<param name="fps" type="int" value="30" />
		<param name="frame" type="string" value="webcam" />
		<param name="device" type="string" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_9DBA876F-video-index0" />
		<param name="auto_focus" type="bool" value="0" />
	</node>
	
	<!--Camera 4-->
	<!--node ns="camera_4" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node_4">
		<param name="width" type="int" value="640" />
		<param name="height" type="int" value="480" />
		<param name="fps" type="int" value="30" />
		<param name="frame" type="string" value="webcam" />
		<param name="device" type="string" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_3F21565F-video-index0" />
		<param name="auto_focus" type="bool" value="0" />
	</node-->
	
	<!--Camera 5-->
	<node ns="camera_5" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node_5">
		<param name="width" type="int" value="640" />
		<param name="height" type="int" value="480" />
		<param name="fps" type="int" value="30" />
		<param name="frame" type="string" value="webcam" />
		<param name="device" type="string" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_6A73D66F-video-index0" />
		<param name="auto_focus" type="bool" value="0" />
	</node>
	
	<!--Camera 6-->
	<node ns="camera_6" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node_6">
		<param name="width" type="int" value="640" />
		<param name="height" type="int" value="480" />
		<param name="fps" type="int" value="30" />
		<param name="frame" type="string" value="webcam" />
		<param name="device" type="string" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_AFBB096F-video-index0" />
		<param name="auto_focus" type="bool" value="0" />
	</node>
</launch>

