<?xml version="1.0"?>
<launch>

	<!-- 6 camera system -->
	<include file="$(find cam_localization)/launch/6_camera_startup.launch"/>
	
	<!-- Localization -->
	<node name="localizer" pkg="cam_localization" type="localizer" output="screen">
		<param name="number_of_cameras" type="int" value="2" />
		<param name="origin_camera_id" type="int" value="1" />
		<param name="camera_calibration_file" type="string" value="/home/solmaz/Booker/src/cam_localization/calibration/out_camera_data.xml" />
	</node>
</launch>

