<?xml version="1.0"?>
<launch>

	<!-- 6 camera system -->
	<include file="$(find cam_localization)/launch/6_camera_startup.launch"/>

	<!-- Calibrator -->
	<node name="calibrate" pkg="cam_localization" type="calibrate" output="screen">
		<param name="number_of_cameras" type="int" value="6" />
		<param name="origin_camera_id" type="int" value="1" />
	</node>
</launch>

